.footer_wrap.cn {
    /*position: fixed;
    bottom: 0;*/
    text-align:center;
    color:white;
    padding: 15px 0 15px;
}
.fa-twitter{
    width: 30px;    
    vertical-align: middle;
    padding-left: 10px;
}
.fa-web{
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    vertical-align: middle;
}
.menu-card{
    position: absolute;
    top: 58px;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 2;
    padding: 0 15px;
    color: #8e9ab5;
    font-size: 15px;
    max-height: 70vh;
    overflow: scroll;
}
.menu-card li {
    line-height: 30px;
    font-size: 18px;
}
#rich_list div{
    width: 100%;
    text-overflow: ellipsis;
    word-break: break-all;
}
.language-menu{

    color:#f1b434;
    position: absolute;
    left: 210px;
    top: 38px;
    font-size:14px;
    padding-top:12px;
}
.language-select{
    padding-top:12px; 
}

